.wrapperCart{
    flex: 1 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.headerCart{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 40px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    background: #161a21;
}
.titleCart{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -.02em;
    text-align: left;
    color: #fff;
}
.miniCart{
    padding: 30px 0;
}
.imgProductCart{
    border: none;
}
.imgProductCart img {
    width: 100%;
    background-size: auto;
    border: none;
}