.detailImgProduct{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.miniShow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bigImgProduct{
    border-radius: 50%;
}

.bigImgProduct img{
    width: 100%;
}

.mini-ImgProduct {
    width: 70px;
    height: 70px;
}
.mini-ImgProduct{
    background-color: #fff;
    width: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.detailMiniProduct{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 50px;
}
.coverPayment{
    width: 100%;
    height: 80%;
    margin: 50px 0;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1), 0 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.brandTopPayment{
    text-align: center;
    line-height: 80px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
.titleTopPayment{
    text-align: center;
    margin-top: -8%;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 10%;
}

.text-endNote{
    padding-left: 10px;
    font-style: italic;
    color: red;
}
.Detail{
    font-size: 18px;
}
.btnPayment{
    width: 90%;
    height: 60px;
    border-radius: unset;
    font-weight: bold;
    background-color: #53c66e;
}
.btnAddStore{
    width: 90%;
    height: 60px;
    border-radius: unset;
    font-weight: bold;
    margin-top: 20PX;
}

.overDetailProduct{
    padding-top: 60px;
}