.overInfortext{
    overflow-x:auto;
    height: 60px;
    background-color:#ecebea;
    margin-bottom: 20px;
}
.allIn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.index1{
    width: 100%;
    margin-right: 20px;
}
.info{
    color: #333333;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    line-height: 40px;
    width: 33%;
}

.icons{
    font-size: 30px;
}


@media screen and (min-width: 1250px){
    .overInfortext{
        overflow-x: hidden;
    }
}   
@media screen and (max-width: 400px) {
    .info{
        font-size: 15px;
    }
    .icons{
        font-size: 20px;
    }

}
