.wrapper-AdminHome{
    margin-left: 279px;
}
.wrapperItemsSideBar{
    display: flex;
    flex-direction: column;
}

.linkItemSideBar{
    padding-left: 15%;
    color: aliceblue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0;
}
.linkItemSideBar:hover{
    color: aliceblue;
    background-color: rgba(192, 192, 192, 0.3);
}
.itemSideBarActive{
    color: #10B981;
    background-color: rgba(192, 192, 192, 0.3);
    padding-left: 15%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0;
}
.itemSideBarActive:hover{
    color: #10B981;
    background-color: rgba(192, 192, 192, 0.3);
}

@media screen and (max-width: 1199px) {
    .wrapper-AdminHome{
        margin-left: 0;
    }
}