html,
body {
    overflow-x: hidden;
    background-color: #f8f7f4;
    font-family: 'IBM Plex Sans', sans-serif;
}

.header {
    height: 600px;
    padding-top: 60px;
    margin-bottom: 60px;
    overflow: hidden;
}

.slide-header {
    width: 100%;
    height: 600px;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}

.active-anim {
    opacity: 1;
}

.header img {
    width: 100%;
    overflow: hidden;
    background-size: auto;
    height: 600px;
}

.btn-slide-left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: unset;
    position: absolute;
    cursor: pointer;
    border: none;
    top: 30%;
    z-index: 1;
}
.btn-slide-left:hover, .btn-slide-right:hover{
    background-color: unset;
}

.btn-slide-right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: unset;
    position: absolute;
    cursor: pointer;
    border: none;
    top: 30%;
    z-index: 1;
    right: 10px;
}

.sp-h1 {
    letter-spacing: 5px;
}

.text {
    width: 600px;
    height: 300px;
    color: white;
    position: absolute;
    top: 250px;
    right: 350px;
    text-align: center;
    font-size: x-large;
}

.sp-text {
    display: block;
    letter-spacing: 5px;
}

.sp-btn {
    margin-top: 35px;
    width: 200px;
    height: 50px;
    border: 2px solid white;
    color: white;
    background-color: unset;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 767px) {
    .header {
        height: 250px;
    }

    .header img {
        height: 250px;
    }

    .slide-header {
        height: 250px;
    }

    .text {
        width: 100%;
        height: 100px;
        color: white;
        position: absolute;
        top: 10%;
        right: 3%;
        text-align: center;
        font-size: 15px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
    }

    .sp-btn {
        margin-top: 10px;
    }
}

@media screen and (max-height: 567px) {
    .header {
        height: 250px;
    }

    .header img {
        height: 250px;
    }

    .slide-header {
        height: 250px;
    }

    .text {
        width: 100%;
        height: 100px;
        color: white;
        position: absolute;
        top: 20%;
        right: 3%;
        text-align: center;
        font-size: 20px;
    }

    .text .sp-text {
        letter-spacing: 2px;
    }

    .sp-h1 {
        letter-spacing: 3px;
    }

    .sp-btn {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (height: 375px) {
    .header {
        height: 350px;
    }

    .header img {
        height: 350px;
    }

    .slide-header {
        height: 350px;
    }

    .text {
        width: 100%;
        height: 200px;
        color: white;
        position: absolute;
        top: 35%;
        right: 3%;
        text-align: center;
        font-size: 25px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
    }

    .sp-btn {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 400px;
    }

    .header img {
        height: 400px;
    }

    .slide-header {
        height: 400px;
    }

    .text {
        width: 100%;
        height: 200px;
        color: white;
        position: absolute;
        top: 15%;
        right: 3%;
        text-align: center;
        font-size: 30px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
    }

    .sp-btn {
        margin-top: 10px;
        height: 60px;
        width: 10em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1850px) {
    .header {
        height: 500px;
    }

    .header img {
        height: 500px;
    }

    .slide-header {
        height: 500px;
    }

    .text {
        width: 100%;
        height: 200px;
        color: white;
        position: absolute;
        top: 15%;
        left: 25%;
        text-align: center;
        font-size: 30px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
        margin-top: 5px;
    }

    .sp-btn {
        margin-top: 30px;
        height: 60px;
        width: 10em;
    }

    .text #one {
        letter-spacing: 5px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1700px) {
    .header {
        height: 500px;
    }

    .header img {
        height: 500px;
    }

    .slide-header {
        height: 500px;
    }

    .text {
        width: 100%;
        height: 200px;
        color: white;
        position: absolute;
        top: 12%;
        left: 25%;
        text-align: center;
        font-size: 30px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
        margin-top: 5px;
    }

    .sp-btn {
        margin-top: 30px;
        height: 60px;
        width: 10em;
    }

    .text #one {
        letter-spacing: 5px;
    }
}


@media screen and (min-width: 750px) and (max-width: 850px) and (min-height: 370px) and (max-height: 475px) {
    .header {
        height: 350px;
    }

    .header img {
        height: 350px;
    }

    .slide-header {
        height: 350px;
    }

    .text {
        width: 100%;
        height: 200px;
        color: white;
        position: absolute;
        top: 25%;
        right: 3%;
        text-align: center;
        font-size: 30px;
    }

    .text .sp-text {
        letter-spacing: 0px;
    }

    .sp-h1 {
        letter-spacing: 3px;
        margin-top: 5px;
    }

    .sp-btn {
        margin-top: 30px;
        height: 60px;
        width: 10em;
    }

    .text #one {
        letter-spacing: 5px;
    }
}